* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility cart*/
.container {
    width: 1000px;
    margin: 0 auto; /* this line makes the container centered*/
}

.container2{
    display: flex;
    align-items: start;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header */
header {
    background-color: grey;
    min-height: 100px;
    width: 100%;
    padding: 0 3rem;
}

.btn {
    background-color: rgb(46, 166, 187);
    color: white;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px black;
}

/* section */
section {
    min-height: 100px;
    width: 100%;
    flex: 1;
}

.leftSide {
    flex: 2;
}

.rightSide {
    flex: 1;
}

.border {
    border: medium solid black; 
    width: 100%;
    padding: 2rem;
    margin-top: 30px;

}

.defenition {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.definebtn{
    background-color: rgb(44, 192, 64);
    padding: 10px 20px;
    box-shadow: 5px 5px black;
}

.likebtn {
    background-color: rgb(224, 221, 34);
    padding: 10px 20px;
    box-shadow: 5px 5px black;
}

.desribe {
    flex: 5;
}